@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go through the menus to test the application. Whenever you search for videos/channels, they will be saved on database.</p>
</div>
