/*VARIAVEIS*/
$primary-color: #232A3A;
$secondary-color: #907B67;
$text-color:#232A3A;
$gray: #969696;
$gray-light: #7A869A;
$yellow: #F39200;
$blue: #334681;

$primary-hover: #8F7B68;
$secondary-hover: #000000;
$lightgray: rgb(224, 220, 220);
$defaultgray: #BABABA;
$darkgray: #6E6E6E;
$link-color: #472f6e;
$link-hover: #7A869A;
$title-color: #472f6e;
$gradient: linear-gradient(to right, #262533, #000000);
$error: rgb(184, 5, 5);
$success: #72ad60;