@model SGTubeMVC.Models.SearchViewModel
@{
    ViewData["Title"] = "SG Tube";
}
<link rel="stylesheet" href="~/css/search.css" />
<div class="container">
    <img src="~/assets/logo.png" alt="" />

    <div class="content">
        <div>
            <form asp-controller="Search" asp-action="Create" method="post">
                <p>Utilize a caixa abaixo para pesquisa</p>
                <input asp-for="search" type="search" placeholder="Buscar" />                
                <button class="btn">Buscar</button>
            </form>
        </div>
    </div>
</div>