<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/fa/css/font-awesome-4.6.3.min.css">

    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="padding: 20px 0; background-color: #ecf0f5;">
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>