@model Joao.HiringDev.Apresentacao.Models.Home.FiltroHomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Canais e Vídeos salvos na Base de Dados</h1>
    
    <hr />
</div>

@if (Model.YoutubeApiServico != null)
{
    @if (Model.YoutubeApiServico.Videos != null && Model.YoutubeApiServico.Canais != null)
    {
        <div class="row">

            <div class="col g-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Canais</h5>
                        @if (Model.YoutubeApiServico.Canais != null && Model.YoutubeApiServico.Canais.Any())
                        {
                            <table class="table table-striped table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Título</th>
                                        <th scope="col">Descrição</th>
                                        <th scope="col">Criação</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var canal in Model.YoutubeApiServico.Canais)
                                    {
                                        <tr>
                                            <td>
                                                @canal.Title
                                            </td>
                                            <td>
                                                <a href="@Url.Action("CanalDetalhar", "Home", new { id = canal.Id })" target="_blank"> Mais Informações </a>
                                            </td>
                                            <td>
                                                <a href="https://www.youtube.com/channel/@canal.Id" target="_blank">Link</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-info" role="alert">
                                Não foi encontra registros para a sua busca!
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col g-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Videos</h5>
                        @if (Model.YoutubeApiServico.Videos != null && Model.YoutubeApiServico.Videos.Any())
                        {
                            <table class="table table-striped table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Título</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var video in Model.YoutubeApiServico.Videos)
                                    {
                                        <tr>

                                            <td>
                                                @video.Title
                                            </td>
                                            <td>
                                                <a href="@Url.Action("VideoDetalhar", "Home", new { id = video.Id })" target="_blank"> Mais Informações </a>
                                            </td>
                                            <td>
                                                <a href="https://www.youtube.com/watch?v=@video.Id" target="_blank">Link</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="alert alert-info" role="alert">
                                Não foi encontra registros para a sua busca!
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>

    }
    else
    {
        <div class="card">
            <div class="card-body">
                <div class="alert alert-info" role="alert">
                    Não foi encontra registros para a sua busca!
                </div>
            </div>
        </div>
    }


}
